{% extends 'base.html' %}

{% block content %}

<div class="container">
		<div class = "row">
		  <div class = "col-md-6">
		    <div class = "list-group">
		    	<li class = "list-group-item list-group-item-primary active"> <strong>Games purchasing history for {{ username }}</strong> </li>
		    	<li class = "list-group-item list-group-item-primary active"> 
		    		Title, ESRB rating, Game Platform, Developer, Year of Release
		    		<span class = "pull-right">Price</span>
		    	</li>
				{% for game in games %}
		   		<li class = "list-group-item list-group-item-action">
		   				{{ game.title }},{{ game.rating }},{{ game.platform }},{{ game.developer }},{{ game.year }}
		   				<span class = "pull-right">$ {{ game.price }}</span>
		   		</li>
				{% endfor %}
		    </div>
			<div>
				<a href = "/">Go Back to home page</a>
			</div>
		  </div>
		</div>
	</div>

{% endblock content %}