{% extends 'base.html' %}

{% block content %}


<div class = "container">
	<div class = "row">
		<div class = "col-md-9">
			<div class = "list-group">
				<li class = "list-group-item list-group-item-primary active">
					<strong>Sorry please sign in first</strong></li>
			</div>
			<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
			<hr>
			<div>
				<a href = "/">Go Back to home page</a>
			</div>
		</div>
	</div>
</div>

<script>
      function onSignIn(googleUser) {
        console.log("Sign On In Progress")
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);

        //Set default HTTP Request Header
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:8080/login');
        xhr.send(id_token);
      }
    </script>

{% endblock content %}